div(data-trackable='onwardjourney')
	h2(class='article__crosshead-alt')
		| More coverage
	div(class='o-grid-row')
		each item in items
			div(class='o-card' data-o-grid-colspan='12 S6 M4')
				if item.mainImage
					div(class='o-card__image o-card__image--top')
						img(src='https://image.webservices.ft.com/v1/images/raw/'+item.mainImage.url+'?source=ig&width=390' alt='')
				h2(class='o-card__heading')
					a(href='http://www.ft.com/cms/s/'+item.id+'.html' data-trackable='main-link')
						= item.title
				p(class='o-card__standfirst')
					= item.subheading
