extends ./panel-v3.pug

include mixins-v3

block content
  each item, i in items
    +col("12 M6 L3")
      +card(item, id)(type=type, smallText=true, imagetype='bottom' showStandfirst=false, hideHeadline=false)
