extends ./panel.pug

include mixins

block content
  each item, i in items
    +col("12 S6 M4 XL3")
      +card(item, id)(type=type, smallText=true, imagetype='bottom' showStandfirst=false, hideHeadline=false)
